<mat-toolbar class="mat-elevation-z5">
    <a href="http://cdsarti.org/" target="_blank">
        <img id="logo" src="../../../assets/images/sarti.jpg">
    </a>


    <span class="spacer"></span>
    <div class="infoSection">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=andreufb97@gmail.com" target="_blank">
            <button mat-button>Contact</button>
        </a>

        <button mat-button>About us</button>

        <a href="http://147.83.159.160:5000/api/" target="_blank">
            <button mat-button>API</button>
        </a>

    </div>
</mat-toolbar>