table, th , td {
    margin-left:auto; 
    margin-right:auto;

}
  
input[type=button] {
    font-size: 30px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 150%;
    padding: 10px 0;
    outline: none;
}

input[type=button]:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

.mat-select-panel{
    max-height: 4000px !important;
}

form {
    text-align: center;
}


