@font-face {
    font-family: titular;
    src: url(../assets/fonts/RussoOne-Regular.ttf) format("truetype");
}

.spacer {
    flex: 1 1 auto;
}

#title_container {
    block-size: 100%;
    height: 100px;
    background-image: url(../assets/images/deep_sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#title{
    text-align: center;
    padding: 40px 0;
    font-family: titular;
    font-size: 80px;
}


app-dynamic-form {
    font-size: 30px;
}



