<app-tool-bar></app-tool-bar>


<div id="title_container">

    <p id="title">OBSEA data acquisition</p>

</div>

<mat-tab-group>
    <mat-tab label="Login">
        <app-login></app-login>
    </mat-tab>

    <mat-tab label="Get data">
        <app-dynamic-form [questions]="getData"></app-dynamic-form>
    </mat-tab>

    <mat-tab label="Introduce data">
        <br>
        <mat-tab-group>
            <mat-tab label="Physical system"><app-dynamic-form [questions]="putPhysicalSystem"></app-dynamic-form></mat-tab>
            <mat-tab label="Person"><app-dynamic-form [questions]="putPerson"></app-dynamic-form></mat-tab>
            <mat-tab label="Project"></mat-tab>
            <mat-tab label="Mission"><app-dynamic-form [questions]="putMission"></app-dynamic-form></mat-tab>
            <mat-tab label="Action"></mat-tab>
            <mat-tab label="Location"></mat-tab>
            <mat-tab label="Feature of interest"></mat-tab>
            <mat-tab label="Observable property"></mat-tab>
            <mat-tab label="Unit of Measurement"></mat-tab>
            <mat-tab label="Observation"></mat-tab>
        </mat-tab-group>
    </mat-tab>

    
</mat-tab-group>