<h1 class="container">
    <form>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>User</mat-label>
                <input matInput [(ngModel)]='user_email' name='user_email' required>
                <mat-hint>email or complete name</mat-hint>
            </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]='user_password' name='user_password' required type="password">
            </mat-form-field>
        </div>
        <br>
        <div>
            <input type="button" value="submit" (click)="takeInfo($event)">
        </div>
        <br>
        <p>{{message}}</p>

    </form>
</h1>