input[type=button] {
    font-size: 30px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
}

input[type=button]:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

form {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    padding: 40px 0;
}

.container {
    width: auto;
    border: violet;
    border-width: 10px;
}

mat-form-field, input {
    width: 30%;
    border-width: 30 px;
}