<div [formGroup]="form">

  <div [ngSwitch]="question.controlType">

    <!-- Textbox appearence -->
    <mat-form-field *ngSwitchCase="'textbox'" appearance="fill">
      <mat-label>{{question.label}}</mat-label>
      <input matInput placeholder="Input" 
        [id]="question.key" [type]="question.type" [formControlName]="question.key">
    </mat-form-field>

    <!-- Dropdown appearance-->
    <mat-form-field *ngSwitchCase="'dropdown'" appearance="fill">
      <mat-label>{{question.label}}</mat-label>
      <mat-select [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <label *ngSwitchCase="'radio'" class="example-radio-label">{{question.label}}</label>
    <mat-radio-group *ngSwitchCase="'radio'" [formControlName]="question.key" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let opt of question.options" [value]="opt.key">
        {{opt.value}}
      </mat-radio-button>
    </mat-radio-group> -->

  </div> 

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>