<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">


    <div *ngFor="let question of questions" class="form-row" id="question">
      <app-question [question]="question" [form]="form"></app-question>
    </div>


    <div class="form-row">
      <button mat-stroked-button type="submit" [disabled]="!form.valid">Submit</button>
      <button *ngIf="isDialog" mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>